{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "InstanceOf_": false,
        "LogicalNot": false,
        "DecrementInteger": false,
        "OneZeroInteger": false,
        "Decrement": false,
        "Increment": false,
        "TrueValue": false,
        "LogicalAnd": false,
        "MethodCallRemoval": false,
        "Minus": false
    }
}