parameters:
	level: max
	ignoreErrors:
		-
			message: '#Method ReactParallel\\Pool\\Limited\\Limited::run\(\) should return T\|null but returns T\|void\|null.#'
			path: ../../src/Limited.php
		-
			identifier: shipmonk.nonNormalizedType
			path: ../../src/Limited.php
			count: 10
		-
			message: '#sleep blocks the event loop#'
			path: ../../tests/Types.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
				- ReactParallel\Tests\AbstractPoolTest
